@charset "utf-8";

*
{
	font-family: arial,monospace,verdana;
	padding: 0px;
	margin: 0px
}

#inicio
{
	width: 100%;
	height: 200px;
	background: transparent;
}
.formulario1 td
{
	border-bottom: 1px dashed;
	border-bottom-color:#CCC;
}

.formulario1{
margin:20px auto;

}

#banner
{
	width: 100%;
	height: 180px;
	background: green;
}

#header
{
	margin: auto;
	width: 100%;
	float: left;
}

ul, ol
{
	list-style:none;
}
			
.nav > li
{
	float:left;
	width: 25%;
	text-align: center;
}

.nav li a 
{
	background-color:#FCFF33;
	color:#000;
	text-decoration:none;
	padding:10px 12px;
	display:block;
}

.nav li a:hover
{
	background-color:#434343;
}
			
.nav li ul
{
	display:none;
	position:absolute;
	min-width:140px;
}
			
.nav li:hover > ul
{
	display:block;
}
			
.nav li ul li
{
	position:relative;
}
			
.nav li ul li ul
{
	right:-140px;
	top:0px;
}

#contenedor
{
	float:left;
	width:100%;
	height:500px;
	background:#F9F7C0;
}
#pie
{
	width: 100%;
	height: 55px;
	background:pink;
	clear:both; 
}

.titulo
{
	background: yellow;
	color: black;
	text-align: center;
	
}

input
{
	text-align: center;
}

.subtitulo
{
	font-weight:bold;
	text-align: center;

}
.center
{
	text-align: center;
}

.resultado
{
    color: black;
    text-align: center;
}

.buscado
{
	background-color:#FF0
}